<footer class="footer">
    <div class="footer__container">
        <p class="footer__text">© 2020 | All Rights Reserved |<br>
            Developed with</p>
        <svg class="footer__icon">
            <use href="./img/sprite.svg#groupIcon"></use>
        </svg>
        <p class="footer__text footer__text--secondary">by</p>
        <a class="link"><span class="footer__link" data-modal-open>GoIT Students</span></a>
    </div>
</footer>

<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <form class="modal-form">
            <p class="modal-form__title">
                8 детей Репеты
            </p>

            <button class="modal__close-btn" type="button" data-modal-close>
                <svg class="modal__close-icon" width="11" height="11">
                    <use href=""></use>
                </svg>
            </button>
        </form>
    </div>
</div>