<section class="main">
    <h1 class="visually-hidden"></h1>
    <div class="main__container">
        <ul class="main__list js-trend-list">
        </ul>
        <ul class="main__button-list">

            <li class="button-list__item js-btn-pr"><button>прошлая </button></li>

            <div class="button-list__container">
                <li class="button-list__item button-list__item--curretn"><button>1</button></li>
                <li class="button-list__item "><button>2</button></li>
                <li class="button-list__item "><button>3</button></li>
            </div>

            <li class="button-list__item js-btn-next"><button class="next">следующая</button></li>
        </ul>
    </div> 
</section>