.header {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}
.header__container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
.overlay {
  max-width: 320px;
  background-image: linear-gradient(
      to right rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),url('../img/Rectangle.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.none {
  display: none;
}