.header__input{
    width: 100%;
    height: 20px;
    border:none;
    border-bottom: 0.5px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1,17em;
    position: relative;

}
.input__icon{
    width: 12px;
    height: 12px;
    fill:#FFFFFF;
    stroke: #FFFFFF;
    position: absolute;  
}